<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://milwaukeerecord.com/wp-content/uploads/2022/10/niccage1.jpg)">
  <h1>Lists</h1>
</div>

<ul>
   <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<button class="btn btn-success"><%= link_to "+ New list", new_list_path, :style=>'color: white; text-decoration: none;' %></button>
