<h1>Lists</h1>
<ul>
   <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<button class="btn btn-success"><%= link_to "+ New list", lists_new_path, :style=>'color: white; text-decoration: none;' %></button>
